body {
  background-image: url("bgdesert.jpg");
}S

h1 {
color: black;
text-align: center;
}

p {
border-style: solid;
border-radius: 25px;
background: #FFFFFF;
padding: 20px;
width: 5%;
height: 25px;

  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  margin-left: 0%;

}

h1 {
border-style: solid;
border-radius: 25px;
background: #FFFFFF;
padding: 25px;
width: 85%;
height: 2%;
}